@model webApp.Models.LoginViewModels
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="@Url.Content("~/faviconGear.ico")" />
    <title>PROWARE | Login</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")

    @Scripts.Render("~/bundles/jquery")
</head>
<body class="gray-bg">
    <div class="middle-box text-center loginscreen">
        <div>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Bienvenido(a) al Portal</h4>
                <small>Ingrese su correo y clave de acceso.</small>
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.LabelFor(m => m.correo, new { @class = "control-label" })
                        <div class="input-group m-b"><span class="input-group-addon"><i class="fa fa-at"></i></span> @Html.TextBoxFor(m => m.correo, new { @class = "form-control" })</div>
                        @Html.ValidationMessageFor(m => m.correo)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.LabelFor(m => m.clave, new { @class = "control-label" })
                        <div class="input-group m-b"><span class="input-group-addon"><i class="fa fa-key"></i></span> @Html.PasswordFor(m => m.clave, new { @class = "form-control" })</div>
                        @Html.ValidationMessageFor(m => m.clave)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <input type="submit" value="Iniciar Sesión" class="btn btn-primary" id="btnIngresar" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Registrate", "Registro") si no tienes una cuenta.
                </p>
            }
        </div>
    </div>
</body>
</html>